{% extends 'index.html' %}
    
{% block title %}Create Account{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row">
        <form action="{{ url_for('create_account') }}" method="POST" class="col form" id="myForm">
            {{ form.hidden_tag() }}
            <h1 id="heading">Create Account</h1>
            <div class="mb-4">
                {{ form.fname.label(style="font-weight:500") }}
                {{ form.fname(class="form-control") }}
            </div>
            <div class="mb-4">
                {{ form.lname.label(style="font-weight:500") }}
                {{ form.lname(class="form-control") }}
            </div>
            <div class="mb-4">
                {{ form.email.label(style="font-weight:500") }}
                {{ form.email(class="form-control", placeholder="example@example.com") }}
                <div class="form-text" {% if boolean == False %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                    Email already exists.
                </div>
                {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-4">
                {{ form.password.label(style="font-weight:500") }}
                {{ form.password(class="form-control", id="user_password") }}
                <i class="bi bi-eye-slash" id="show_password"></i>
                <div class="form-text" id="passwordError1"></div>
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input name="confirm_password" type="password" class="form-control" id="confirm_password">
                <i class="bi bi-eye-slash" id="show_confirm_password"></i>
                <div class="form-text" id="passwordError2"></div>
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-light") }}
            </div>
        </form>
    </div>
</div>

<!-- <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row">
        <form action="{{ url_for('create_account') }}" method="POST" class="col form" id="myForm">
            <h1 id="heading">Create Account</h1>
            <div class="mb-4">
                <label for="user_fname" class="form-label">First Name</label>
                <input name="user_fname" type="text" class="form-control">
            </div>
            <div class="mb-4">
                <label for="user_lname" class="form-label">Last Name</label>
                <input name="user_lname" type="text" class="form-control">
            </div>
            <div class="mb-4">
                <label for="user_email" class="form-label">Email</label>
                <input name="user_email" type="email" class="form-control" placeholder="example@example.com"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-4">
                <label for="user_password" class="form-label">Password</label>
                <input name="user_password" type="password" class="form-control" id="user_password">
                <i class="bi bi-eye-slash" id="show_password"></i>
                <div id="passwordError1"></div>
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input name="confirm_password" type="password" class="form-control" id="confirm_password">
                <i class="bi bi-eye-slash" id="show_confirm_password"></i>
                <div id="passwordError2"></div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-light">Submit</button>
            </div>
        </form>
    </div>
</div> -->
{{ bootstrap.load_js() }}
{% endblock %}